@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
       
       
        html{
            font-size: 62.5%;
        }
        main{
            background-image: url('hero-bg-2.jpg');
            background-position: center;
            background-size: cover;
        }
      main:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; 
        left: 0;
        background: color-mix(in srgb, #08005e, transparent 10%); 
        z-index: 2;
      }
     main .imageCont {
    animation: bounced 4s linear forwards infinite;
}
      @keyframes bounced{
    0% {
        transform: none;
       
    }
    33%{
        transform:translatey(-5%);
        
    }
    33%{
        transform: translatey(5%);
       
    }
     100%{
     transform: none;
  
    }
}
.wave1{
    animation: move-forever1 10s linear infinite;
    
   
}
.wave2{
    animation: move-forever2 8s linear infinite;
   
  
}
.wave3{
    animation: move-forever3 6s linear infinite;
   
  
}
@keyframes move-forever1 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(120%);
    }
}
@keyframes move-forever2 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes move-forever3 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(120%);
    }
}


     .container>p::after{
  content: '';
  height: 1px;
  position: absolute;
  width: 10%;
  left: 5em;
  top: 50%;
  background-color: #1acc8d;
} 
     .flexBoxCont h3::after{
  content: '';
  height: 1px;
  display: block;
  width: 4em;
  margin: .8em 0;
  background-color: #b4b4b4;
} 

.footerCont::after{
    content:'';
    width: 100%;
    display: block;
    background-color: rgba(183, 182, 182, 0.248);
    height: 1px;
    margin: 2.5em 0;
}

